@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&display=swap');
.main{
    color: aquamarine;
    font-size: 80%;
    font-family: Inconsolata;
    text-align: center;
}

#sera { width: 500px;
        height: 500px;
        text-align: center;

}
footer {
    text-align: center;
    font-family: Inconsolata;
}
